[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "1.8.1"
flask = "2.2.2"
flask-cors = "3.0.10"
flask-migrate = "3.1.0"
flask-sqlalchemy = "3.0.2"
sqlalchemy = "1.4.42"
sqlalchemy-serializer = "1.4.1"
flask-restful = "*"
gunicorn = "*"
psycopg2-binary = "*"
flask-bcrypt = "*"
python-dotenv = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "3.8"
